.location-header--container {
  display: flex;
  background-color: var(--green-colour); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  justify-content: left;
  padding: 0 0 30px 15px;
  text-wrap: wrap;
}

.location-header {
    color: white;
    display: flex;
    align-items: flex-start; 
    height: 100%; /* TODO: this should be auto */
    font-family: "Montserrat", sans-serif;
    flex-direction: column;
    padding-top:30px;
  }
  .location-name {
    align-self: center; 
    width: 100%;
    text-align: left; 
    text-wrap: wrap;
  }
  .location-name {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
  }
  