.star-rating {
    color: gold;
    font-size: 1.75em; /* Adjust the size as needed */
    font-weight: bold;
    -webkit-text-stroke: 0.2px white;
  }

  .star-rating:hover {
    transform: scale(1.1); /* Slightly enlarges the stars */
    transition: transform 0.3s; /* Smooth transition for the transformation */
    transform-origin: left;
  }
  