
<%- include ('_header') %>
    <h1>Welcome to Court Finder. Need a tennis court?</h1>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>

<h2>Court Queue</h2>
<table>
    <tr>
        <th>Court</th>
        <th>User</th>
    </tr>
    <tr>
        <td>1</td>
        <td>User 1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>User 2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>User 3</td>
    </tr>
</table>

<h2>Location Queue</h2>
<table>
    <tr>
        <th>Position</th>
        <th>User</th>
    </tr>
    <tr>
        <td>1</td>
        <td>User 1</td>
    </tr>
    <tr>
        <td>2</td>
        <td>User 2</td>
    </tr>
    <tr>
        <td>3</td>
        <td>User 3</td>
    </tr>
</table>
<%- include('_footer') %>
