.player-count-container {
    display: flex;
    background-color: #E8E8E8; /* Adjust the color to match your needs */
    border-radius: 40vw; /* Rounded corners */
    padding: 8px;
    max-width: 228px;
    justify-content: center;
    align-items: center;
  }
  
  .player-count-button {
    width: 40px; /* Width of the button */
    height: 40px; /* Height of the button */
    line-height: 40px; /* Center the text vertically */
    background-color: #fff;
    border: none;
    border-radius: 50%; /* Make it a circle */
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .player-count-button:hover {
    background-color: #abf0d9; /* Slightly darker on hover */
  }
  
  .player-count-button.active {
    background-color: #01D38C; /* Active color */
    color: #fff; /* White text on active button */
  }
  